@include respond(tab-land) {

    @keyframes slideover {
        0% { left:100%; margin-left: 100%; }
        100% { left:0; margin-left: 0;}
    }
    
    @-webkit-keyframes slideover {
        0% { left:100%; margin-left: 100%; }
        100% { left:0; margin-left: 0;}
    }

    @keyframes slideback {
        0% { left:0; margin-left: 0; }
        100% { left:100%; left:100%; }
    }
    
    @-webkit-keyframes slideback {
        0% { left:0; margin-left: 0; }
        100% { left:100%; left:100%; }
    }
   
    header {    
        height:96px;
        
        #header-top {
            max-width: 100%;

            &_left {
                width:auto;
                justify-content: flex-start;
                
                a {
                    img {
                        width: auto;
                        height: 100%;
                    }
                }
            }
            
            &_right {
                &_menu {
                    .nav-container {
                        display:block;
                        flex-wrap: wrap;
                        padding: 0;
                        margin:0;
                        position: absolute;
                        left: 100%;
                        width: 100%;
                        box-sizing: border-box;
                        height: calc(100vh - 96px);
                        overflow: visible;
                        position: absolute;
                        
                        &.opened {
                            -webkit-animation: .5s ease 0s normal forwards 1 slideover;
                            animation: .5s ease 0s normal forwards 1 slideover;

                            &::before {
                                position: absolute;
                                top:-96px;
                                height:96px;
                                width: 100%;
                                content:"";
                            }
                        }

                        &.closed {
                            -webkit-animation: .5s ease 0s normal forwards 1 slideback;
                            animation: .5s ease 0s normal forwards 1 slideback;
                        }

                        ul.menu {

                            li {
                                display:flex;
                                margin: 0;
                                flex-wrap: wrap;
                                padding-bottom: 0;
                                padding: 0;
                                height:55px;

                                &::after {
                                    position: absolute;
                                    bottom: 0;
                                    content: "";
                                    left: 30px;
                                    width: calc(100% - 60px);
                                    height: 1px;
                                }

                                

                                &.nav-contact {
                                    margin:0 12px 0 30px;
                                    
                                    a {
                                        width: calc(100% - 20px);
                                        display: flex;
                                        justify-content: center;
                                        box-sizing: border-box;
                                        border-radius: 0;
                                    }
                                }

                                .accordion-toggle {
                                    position: absolute;
                                    top: 18px;
                                    right: 30px;
                                    z-index: 99;
                                    width: 20px;
                                    height: 20px;
                                    transition:$trans;
                                    display:flex;
                                    justify-content: center;
                                    align-items: center;

                                    span {
                                        color: $blk;
                                        font-size: 18px;
                                        transition:$trans;
                                    }

                                    &.toggle-background {
                                        transform: rotate(180deg);
                                        transition:$trans;
                                    } 
                                } 

                                // hover states to display sub-menu
                                &:hover, 
                                > a:focus ~, 
                                > a:focus-visible ~ {
                                    a {
                                        &:before {
                                            right: 20px;
                                        }
                                    }

                                    .sub-menu {
                                        -webkit-animation:none;
                                        animation:none;
        
                                        li {
                                            a {
                                                background:none;
                                                color:$white;
        
                                                &:hover {
                                                    color:$white;
                                                }
                                            }
        
                                            // nested 3rd level flyout
                                            .sub-menu {
                                                display:none;
                                                position: absolute;
                                                top: 0;
                                                margin-left: 100%;
        
                                                &:hover {
                                                    display:block;
                                                }
                                            }
                                        }
                                    }
                                }

                                // active menu states for current page / current parent
                                &.current-menu-parent,
                                &.current-menu-item,
                                &.current-page-ancestor {
                                    a {
                                        color:$white;
                                        background:none;

                                        &:before {
                                            display:none;
                                        }
                                    }

                                    &:hover {
                                        a {
                                            color:$white;
                                        }

                                        .sub-menu {
                                            left:0;
        
                                            .current_page_item {
                                                a {
                                                    color:$white;
                                                }
                                            }
                                        }
                                    }
                                }

                                a {
                                    &:before {
                                        display:none;
                                    }
                                }

                                @include nav-search-mobile;

                                a {
                                    padding:20px 30px;
                                    width:auto;
                                }

                                .sub-menu {
                                    position: absolute;
                                    width: 100%;
                                    left: 100%;
                                    padding: 0;
                                    transition: none;
                                    margin-bottom: 0;
                                    top: 0;
                                    box-sizing: border-box;
                                    transition:$trans;
                                    z-index: 100;
                                    height: calc(100vh - 76px);
                                    display: block;

                                    .child-close {
                                        position: absolute;
                                        text-transform: uppercase;
                                        font-size: 14px;
                                        font-weight: bold;
                                        letter-spacing: 1px;
                                        display: flex;
                                        align-items: center;
                                        border-radius: 50px;
                                        padding:10px;
                                    }

                                    &.opened {
                                        -webkit-animation: .5s ease 0s normal forwards 1 slideover;
                                        animation: .5s ease 0s normal forwards 1 slideover;
                                    }

                                    &.closed {
                                        -webkit-animation: .5s ease 0s normal forwards 1 slideback;
                                        animation: .5s ease 0s normal forwards 1 slideback;
                                    }

                                    li {
                                        height:55px;

                                        .sub-menu {
                                            .tertiary-close {
                                                position: absolute;
                                                top: -58px;
                                                left: 13px;
                                                text-transform: uppercase;
                                                font-size: 14px;
                                                font-weight: bold;
                                                letter-spacing: 1px;
                                                display: flex;
                                                align-items: center;
                                                height: 25px;
                                                width: 75px;
                                            }

                                            &.opened {
                                                -webkit-animation: .3s ease 0s normal forwards 1 slideover;
                                                animation: .3s ease 0s normal forwards 1 slideover;
                                            }
            
                                            &.closed {
                                                -webkit-animation: .3s ease 0s normal forwards 1 slideback;
                                                animation: .3s ease 0s normal forwards 1 slideback;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    #header-top_mobile {
                        display: block;
                        position: absolute;
                        top: 18px;
                        right: 25px;
                        border:1px solid $blk;

                        #menu-icon {
                            width: 40px;
                            height: 40px;
                            position: relative;
                            display: block;
                            margin-top: 0;
                            margin-right: 0;
                            transition: all 0.4s;
                            -webkit-transition: all 0.4s;
                            -moz-transition: all 0.4s;
            
                            .line {
                                display: block;
                                background:$blk;
                                width: 26px;
                                height: 1px;
                                position: absolute;
                                left: 7px;
                                transition: all 0.4s;
                                -webkit-transition: all 0.4s;
                                -moz-transition: all 0.4s;
            
                                    &.line-1 {
                                        top: 30%;
                                    }
            
                                    &.line-2 {
                                        top: 50%;
                                    }
            
                                    &.line-3 {
                                        top: 70%;
                                    }
                                }
            
                                &.active {
                                    transform: rotateY(180deg);
                                    
                                    .line-1 {
                                        transform: translateY(8px) translateX(0) rotate(45deg);
                                        -webkit-transform: translateY(8px) translateX(0) rotate(45deg);
                                        -moz-transform: translateY(8px) translateX(0) rotate(45deg);
                                    }
            
                                    .line-2 {
                                        opacity: 0;
                                    }
            
                                   .line-3 {
                                        transform: translateY(-8px) translateX(0) rotate(-45deg);
                                        -webkit-transform: translateY(-8px) translateX(0) rotate(-45deg);
                                        -moz-transform: translateY(-8px) translateX(0) rotate(-45deg);
                                    }
                                }
            
                                &.toggle-nav {
                                    transition-delay:.1s;
            
                                    &.active {
                                        transition-delay:.1s;
                                    }
                                }
                            }
                    }
                }
            }
        }
    }
}