/**
 * Page Template Styles
 *
 * @package Postali Child
 * @author Postali LLC
*/

.page-template-page-contact {
    .sidebar-block {
        iframe {
            height:250px;
            max-width: 100%;
        }
    }
}

.page-template-page-sitemap {
    .main-content {
        .column-66 {
            justify-content: space-between;
        }
    }
    
    ul.sitemap {
        li {
            a {
                font-weight: bold;
            }

            &.page_item_has_children {
                ul.children {
                    margin-bottom: 5px;
                    
                    li {
                        a {
                            font-weight: normal;
                        }
                    }
                }
            }
        }
    }
}



.single {
    .article-single-featured-image {
        img {
            width: 100%;
        }
    }
}

.single-attorneys, .page-template-page-attorney {
    .attorney-img {
        border-radius: 50%;
        max-width: 225px;
        
        @include respond(phone) {
            margin:0 auto;
        }
    }
}

.page-template-page-landing {
    .main-content {
        position: relative;
        z-index: 2;
    }
    ul.landing-box {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        list-style-type: none;
        margin:0;
        width:100%;
        
        li {
            width:32.3%;
            margin:.5%;
            background:$dkblue;
            padding:40px;
            box-sizing: border-box;
            min-height: 400px;
            position: relative;

            @include respond(tab-land) {
                width:49%;
            }
    
            @include respond(phone) {
                width:100%;
                margin:10px 0;
            }

            &:hover {
                a {
                    text-decoration: underline;
                    color:$white;
                }
            }

            a {
                font-size: 32px;
                font-weight: bold;
                display: block;
                line-height: 100%;
                padding: 0;
                text-decoration: none;
                color:$white;

                @include respond(phone) {
                    font-size: 32px;
                }
            }

            .all-pages {
                position: absolute;
                bottom: 0;
                height: 60px;
                background: $ltgrey;
                left: 0;
                width: 100%;
                padding: 0 20px;
                box-sizing: border-box;
                align-items: center;
                justify-content: flex-end;
                display: flex;
                font-size: 15px;
                transition: $trans;

                span::before {
                    position: relative;
                    content: "+";
                    margin-left: 10px;
                    font-size: 24px;
                    font-weight: bolder;
                    transition: $trans;
                    display:block;
                }

                &.active {
                    background:$green;

                    span::before {
                        transform:rotate(45deg);
                    }
                }
            }

            ul.children {
                margin: 0;
                list-style-type: none;
                position: absolute;
                background: $green;
                top: 100%;
                left: 0;
                width: 100%;
                box-sizing: border-box;
                padding: 0 40px;
                display:none;
                z-index: 10;
                padding:20px 40px 40px;

                li {
                    margin:0;
                    padding:0;
                    width:100%;
                    min-height: auto;
                    background:none;
                    
                    a {
                        font-size: 16px;
                        line-height: 120%;
                        display: inline-block;
                        margin-bottom: 10px;
                        padding: 0;
                        font-weight: normal;
                        text-decoration: underline;
                        color:$dkblue;
                    }

                    &::after {
                        display:none;
                    }
                }
            }
        }
    }
}

.post-type-archive-results {
    .main-content {
        .column-full {
            justify-content: flex-start;

            h2 {
                display: flex;
                justify-content: center;
                width: 100%;

                &:not(:first-of-type) {
                    margin-top: 80px;
                }
            }
            
            @include landing-box;
        }
    }
}