.body-container {

    .pre-headline {
        margin-bottom: 5px;
        letter-spacing: 3px;
    }
    
    .btn {
        background-color: $red;
        color:$white;
        max-width: -webkit-fit-content;
        max-width: -moz-fit-content;
        max-width: fit-content;

        &:hover {
            background-color: darken($red, 10%);
        }
    }

    // style blocks like postali

    .wp-block-group {
        &.box-shadow {
            .accordion {
                box-shadow: 3px 4px 7px 4px $footerltgrey;
            }
        }
        .img-fit {
            figure {
                margin: 0;
            }
            
            img {
                height: 100%;
                width: 100%;
                -o-object-fit: cover;
                   object-fit: cover;
            }
        }
        .nobottom {
                margin-bottom: 0;
        }

        .nopad {
            padding:0 !important;
        }
        
        .padded {
            padding: 50px;
            box-sizing: border-box;
        }

        .padded-md {
            padding:4%;
            box-sizing: border-box;
        }

        .padded-lg {
            padding:8%;
            box-sizing: border-box;
        }

        .rounded {
            border-radius: 10px;
        }

        .wp-block-button__link {
            padding:15px 25px;
        }
        
        .entry-content {
            .wp-block-group {

                .wp-block-columns {
                    &.nogap {
                        gap: 0;
                    }
                }

                &.wide {
                    width: calc(100% + 40px);
                    margin-left: -40px;
                    @include respond(tab-port) {
                        margin-left: 0;
                        width: 100%;
                    }
                    .wp-block-group__inner-container {
                        max-width: 100%; 
                        padding: 0;
                        
                        .wp-block-columns {
                            gap: 0;
                            
                            .wp-block-column {
                                align-items: flex-start;
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                justify-content: center;
                            }
                        }
                    }
                }

                &.img-panel {
                    padding:0 !important;
                    margin:0 !important;

                    .wp-block-image {
                        height:700px;
                        width: 100%;
                        margin: 0;
                        overflow: hidden;

                        @include respond(tab-port) {
                            height: 500px;
                        }

                        @include respond(phone) {
                            height: 350px;
                        }

                        img {
                            -o-object-fit: cover;
                               object-fit: cover;
                            -o-object-position: center;
                               object-position: center;
                            height: 100%;
                            width: 100%;
                        }

                        &.align-top-bg {
                            img {
                                object-position: top;
                            }
                        }
                    }
                    
                    .wp-block-group__inner-container {
                        max-width: 100%; 
                        padding: 0;
                        
                        .wp-block-columns {
                            gap: 0;
                            
                            .wp-block-column {
                                align-items: flex-start;
                                display: flex;
                                flex-wrap: wrap;
                                flex-direction: column;
                                justify-content: center;
                            }
                        }
                    }
                }

                &.lg-bg {
                    background-image: url(/wp-content/uploads/2025/04/logo-bg.svg);
                    background-size: 400%;
                    background-position: top;
                    background-attachment: fixed;
                    padding-bottom: 140px;
                }

                &.reversed {
                    background:$dkblue;
                    padding:120px 0;
                    @include respond(phone) {
                        padding: 60px 0;
                    }
                    * {
                        color:$white;
                    }

                    .btn {
                        color:$white !important;
                    }

                    .panel-title {
                        color:$tan;
                    }
                }
        
                .wp-block-group__inner-container {
                    max-width: 1400px;
                    padding: 0 60px;
                    z-index: 1;
                    position: relative;
                    margin: 0 auto;

                    @include respond(tab-port) {
                        padding:0 30px;
                    }
                    .columns-layout {
                        .container {
                            @include respond(phone) {
                                padding: 0 !important;
                            }
                        }
                    }
        
                    .wp-block-embed__wrapper {
                        width: 100%;
                        position: relative;
                        overflow: hidden;
                        padding-top: 56.25%;
                
                        iframe  {
                            position: absolute;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                            width: 100%;
                            height: 100%;
                        }
                    }
                }

                .columns-alt {
                    .add-title {
                        flex-wrap: wrap;

                        .panel-title {
                            position: relative;
                            width: 100%;
                            margin-bottom: 40px;
                        }
                    }
                }

                .jump-nav {
                    ul {
                        list-style-type: none;
                        margin: 0;
                        display: flex;
                        gap: 15px;
                        flex-wrap: wrap;
                        
                        li {
                            margin-bottom: 10px;
                            a {
                                display: inline-flex;
                                background: $xltgrey;
                                width: -webkit-max-content;
                                width: -moz-max-content;
                                width: max-content;
                                height: 50px;
                                padding:0 25px;
                                min-width: 150px;
                                justify-content: center;
                                align-items: center;
                                border-radius: 50px;
                                font-family: $funnel;
                                font-style: normal;
                                font-size: 16px;
                                text-decoration: none;

                                &:hover {   
                                    background:$dkblue;
                                    color:$white;
                                }
                            }
                        }
                    }
                }

                &.columns-alt {
                    .container {
                        @include respond(tab-port) {
                            padding: 0 !important;
                        }
                    }
                }
            }
        }
    }
}