@mixin respond($breakpoint) {
    @if ($breakpoint==desktop-fulll) {
        @media screen and (min-width:$desktop-full) { @content; }
    }

    @if ($breakpoint==desktop-lg) {
        @media screen and (max-width:$desktop-lg) { @content; }
    }

    @if ($breakpoint==desktop) {
        @media screen and (max-width:$desktop) { @content; }
    }

    @if ($breakpoint==tab-land) {
        @media screen and (max-width:$tab-land) { @content; }
    }

    @if ($breakpoint==tab-port) {
        @media screen and (max-width:$tab-port) { @content; }
    }

    @if ($breakpoint==phone) {
        @media screen and (max-width:$phone) { @content; }
    }
    
}

@mixin ppc-block {
    .ppc-cta-block {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        gap: 15px;
        p {
            line-height: 125%;
            white-space: wrap;
            font-weight: bold;
            margin-bottom: 0 !important;
        }
    }
}

@mixin form-styles {
    p.gform_required_legend {
        font-size: 15px !important;
        color: $white !important;
    }
    .gform_description {
        display: none !important;        
    }
    .gform_wrapper {
        padding: 20px;
        background: $blk;
        .gfield_label {
            font-family: $oswald;
            color: $white;
        }

        input[type="submit"] {
            display: inline-block;
            padding: 15px 40px;
            background-color: $yellow;
            text-decoration: none;
            color: $blk !important;
            border: 1px solid $blk;
            transition: $trans;
            font-family: $oswald;
            text-transform: uppercase;
            font-size: 16px;
            font-weight: bold;

            &:hover {
                background-color: $blk;
                color: $yellow !important;
                border: 1px solid $yellow;
            }
        }

        #label_5_10_1,
        #label_6_10_1 {
            color: $white;
            font-weight: bold;
        }

        #gfield_description_5_10,
        #gfield_description_6_10 {
            color: $white;
            font-size: 12px;
            line-height: 150%;
        }
    }
}

@mixin tabs-sectors {
    .sectors {
        background: linear-gradient(180deg, rgba(14, 26, 47, 1) 0%, rgba(17, 31, 56, 1) 50%, rgba(42, 74, 132, 1) 100%);
        width: 23%;
        margin: 1%;
        padding: 50px 30px 60px;
        text-align: center;
        color: $white;
        justify-content: center;
        font-family: $crimson;
        font-size: 18px;
        position: relative;

        @include respond(desktop) {
            width: 31%;
        }

        @include respond(tab-land) {
            width: 48%;
        }

        @include respond(phone) {
            width: 100%;
        }

        &::after {
            position: absolute;
            bottom:20px;
            width: 80%;
            left: 10%;
            height: 1px; 
            background:$white;
            content: "";
            opacity: .5;
        }
    }
}

@mixin tabs-nav {
    .tabs-nav {
        ul {
            display: flex;
            padding: 0;
            margin: 0 !important;
            gap: 10px;
            list-style-type: none;
            flex-wrap: wrap;
            justify-content: flex-start;

            li {
                cursor: pointer;
                span {
                    display: inline-flex;
                    background: $xltgrey;
                    width: -webkit-max-content;
                    width: -moz-max-content;
                    width: max-content;
                    height: 50px;
                    width: 180px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50px;
                    font-family: $funnel;
                    font-style: normal;
                    font-size: 16px;
                }

                &.active {
                    span {
                        background:$dkblue;
                        color:$white;
                    }
                }
            }
        }
    }
}

@mixin tabs-content {
    .tabs-content {
        width: 100%;
        margin-top: 40px;
        
        div:not(:first-child) {
            display: none;
        }

        .accordions {
            position: relative;
            overflow: hidden;
            display: block;
            width: 100%;
            background:none;
            padding: 0;

            .accordions_title {
                font-family: $crimson;
                color:$dkblue;
                text-transform: uppercase;
                font-size: 40px;
                padding: 40px 80px 40px 30px;
                color:$dkblue;
                z-index: 1;
                @include respond(phone) {
                    font-size: 25px;
                    padding: 40px 40px 40px 30px;
                }
                &::after {
                    position: absolute;
                    right: 30px;
                    top: 40px;
                    transform: rotate(90deg);
                    content: "\e900";
                    font-family: $icomoon;
                    font-size: 30px;
                    color:$red;
                    transition: $trans;
                    @include respond(phone) {
                        right: 10px;
                        font-size: 20px;
                    }
                }
            }

            .accordions_content {
                z-index: 1;
                width: 100%;
                position: relative;
                padding: 0;

                .content {
                    margin: 170px 60px 50px auto;
                    width: 30%;
                    display: flex;
                    flex-direction: column;
                    box-sizing: border-box;

                    @include respond(desktop) {
                        width: 60%;
                    }

                    @include respond(tab-land) {
                        width: 75%;
                    }

                    @include respond(tab-port) {
                        margin: 0;
                        padding: 60px 30px 20px 30px;
                        width: 100%;
                        display: flex;
                        box-sizing: border-box;
                    }
                    
                    p {
                        line-height: 125%;
                    }
                }
            }

            .background-image {
                position: absolute;
                top: 0;
                z-index: 0;
                height: 100%;
                width: 100%;
                opacity: .3;
                left: 0;
                display:none;

                img {
                    -o-object-fit: cover;
                       object-fit: cover;
                    -o-object-position: top;
                       object-position: top;
                    width: 100%;
                    height: 100%;
                }
            }

            &.active {
                background:$dkblue;

                .accordions_title {
                    color:$white;

                    &::after {
                        position: absolute;
                        right: 30px;
                        top: 40px;
                        transform: rotate(0);
                        content: "\e900";
                        font-family: $icomoon;
                        font-size: 30px;
                        color:$white;
                        transition: $trans;
                    }
                }

                .accordions_content {
                    z-index: 1;
                    display: inline-block !important;
                }

                .background-image {
                    display:block;
                }
            }
        }

        #tab2 {
            .columns {
                align-items: normal;
                justify-content: flex-start;

                @include tabs-sectors;
            }
        }
    }
}